<div class="container">
    <div class="row">
        <div class="col m12">
            {{#each data}}
            <button class="btn waves-effect waves-light" data-id={{this._id}}>Scrape to save</button>
        </div>
    </div>
</div>